.root {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  width: 100%;
  place-content: center;
  place-items: center;
  padding-inline: 64px;
  background-color: #fff;
}

.navigation {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 120px;
  transition: 0.2s;
}

.link:hover {
  background-color: #f2f2f2;
}

@media (max-width: 1023px) {
  .root {
    grid-template-columns: 120px 1fr;
    padding-inline: 16px;
  }

  .link {
    width: 80px;
  }
}
